@use "styles/_sassVariables";

.container {
	flex-direction: column;
	@include sassVariables.flexJustifyCenter;
	width: 100%;
	label {
		margin-bottom: 0.5rem;
		color: var(--gray-300);
	}

	input {
		border-radius: 8px;

		background-color: var(--gray-100);

		border: none;
		padding: 0.8rem;
	}
}
