@use "styles/_sassVariables";

.taskCard {
	min-width: 17.5rem;
	height: 15rem;
	border-radius: 0.5rem;
	padding: 1.25rem;

	display: flex;
	flex: 1;
	background-color: var(--white);

	transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);

	section {
		width: 100%;
		height: 100%;

		display: flex;
		flex-direction: column;

		header {
			height: 3rem;
			font-size: 1.3rem;
			color: var(--gray-600);
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
			resize: none;
			border-radius: 0.3125rem;
			align-content: flex-start;

			&:disabled {
				background-color: transparent;
			}
		}

		> p {
			margin-top: 0.1875rem;
			font-size: 0.7rem;
			color: var(--gray-300);
		}

		form.subtaskContainer {
			padding: 0.5rem 0;
			height: 100%;
			@include sassVariables.flexJustifyCenter;
			flex-direction: column;
			gap: 0.5rem;

			& > div {
				button {
					width: 1.5rem;
					height: auto;
					border-radius: 4px;
					background-color: var(--gray-100);
					border: none;

					@include sassVariables.flexAllCenter;
				}
				p {
					margin-left: 1rem;
				}
				height: 1.2rem;

				@include sassVariables.flexItemsCenter;
			}
		}

		.anotherTasks {
			text-align: center;
			color: var(--blue-500);
		}

		.cardOptionButtonContainer {
			display: flex;
			margin-left: auto;
			gap: 10px;
			margin-top: auto;
		}
	}

	@media screen and (max-width: sassVariables.$mobileWidth) {
		height: auto;
	}
}
