@use "styles/_sassVariables";

.container {
	width: 100%;
	min-height: 100%;
	background-color: var(--gray-100);

	display: grid;
	grid-template-rows: 12.5rem 1fr;

	& > :nth-child(2) {
		width: 100%;
		max-width: var(--max-width);
		top: -4.6rem;

		position: relative;
		margin: 0 auto;

		padding: 0 1.25rem;
	}
}
