$tabletWidth: 67.5rem;
$mobileWidth: 45rem;
$maxWidth: 80rem;
$smoothTransition: all 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);

@mixin noSelect {
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */
	-khtml-user-select: none; /* Konqueror HTML */
	-moz-user-select: none; /* Old versions of Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none; /* Non-prefixed version, currently
                              supported by Chrome, Edge, Opera and Firefox */
}

@mixin centerByMarginAuto {
	margin: 0 auto;
}

@mixin flexAllCenter {
	display: flex;
	justify-content: center;
	align-items: center;
}

@mixin flexJustifyCenter {
	display: flex;
	justify-content: center;
}

@mixin flexItemsCenter {
	display: flex;
	align-items: center;
}
