@use "styles/_sassVariables";

.concluded,
.revert,
.moreinfo,
.delete,
.saveoredit {
	width: 2rem;
	height: 2rem;
	border: solid 1.5px;
	border-radius: 50%;
	background-color: transparent;

	@include sassVariables.flexAllCenter;

	&:disabled {
		border-color: var(--gray-300);
		cursor: not-allowed;

		svg {
			color: var(--gray-300);
		}
		&:hover {
			background-color: transparent;
			svg {
				color: inherit;
			}
		}
	}
}

.revert,
.moreinfo {
	border-color: var(--blue-300);
	svg {
		color: var(--blue-300);
	}

	&:hover {
		background-color: var(--blue-300);
		svg {
			color: white;
		}
	}
}
.delete {
	border-color: var(--red-500);
	svg {
		color: var(--red-500);
	}

	&:hover {
		background-color: var(--red-500);
		svg {
			color: white;
		}
	}
}
.concluded,
.saveoredit {
	border-color: var(--green-500);
	svg {
		color: var(--green-500);
	}

	&:hover {
		background-color: var(--green-500);
		svg {
			color: white;
		}
	}
}
