@use "styles/_sassVariables";

.container {
	height: 100%;

	section {
		width: 100%;
		height: 100%;
		background-color: white;
		margin-top: 1rem;
		border-radius: 8px;
		padding: 2rem;

		display: flex;
		flex-direction: column;
		gap: 1.5rem;
	}
}
